
<div class="container">




<div class="jumbotron">
  <h1>Create our taxonomy!</h1>
  <p>Help us build the world's largest and most refined classification system for your assets.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>



</div>

















<div class="page-header">
<h3>All obits</h3>
</div>





<table class="table table-condensed table-hover">
  
  <thead>
    <tr>
   
      <th>Name</th>
      <th>Asset</th>
      <th>Age</th>
      <th>Description</th>
      <th>Posted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      <%x=0%>    
    <% @statuses.reverse.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= status.Asset %></td>
       
        <td><%= status.Age %></td>
       
        <td><%= status.Description %></td>
        <td><%= link_to time_ago_in_words(status.created_at)+" ago", status %></td>
       


      </tr>
    <% end %>

  </tbody>
</div>
</table>



<br>


<%= link_to 'Download', url_for(:format=>"xlsx") %>

<%= link_to 'New obit', new_status_path %>




<div class="Footer">copyright &copy; 2014 The Asset Mortality Project</div>


</div>
